
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 10px;
}

.pd-10 {
    /*上下是10 左右0*/
    padding: 10px 0;
}

